body {
  margin: 0 1em 0 1em;
  padding:0;
  font-family: sans-serif;
}

.headLineImg{
  display: flex;
  float: left;
  max-height: 248px;
  max-width: 300px;
}

#UpwardMarkets{
  display: flex;
  justify-content: center;
}

.whiteBackground{
  /*!important overrides the default method for the Jumbotron*/
  background-color: white !important;
}

.SearchNews{
  display: flex;
  justify-content: flex-end !important;
  text-align: center;
}

.upwardMarks{
  display: flex;
  justify-content: center !important;
  text-align: center;
}

.resizeHeadLine{
  max-width: 40vw;
  max-height: 40vh;
  margin-right: 1em;
}

.dottedLine{
  border: 1px dotted;
  border-style: none none dotted;
  color: black;
  /*background-color: black;*/
}

.cardStyle{
  

}

